@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/client/assets/css/index.min.css" />
}
<!-- Intro Section -->
<section class="introduction-section">
    <img src="~/client/assets/images/misc/intro_img.png"
         alt=""
         class="intro-img" />
    <div class="container">
        <h1 class="intro-title">
            Fresh & Organic Flavors Await: The Explore Our Grocery Delights
        </h1>
        <p class="intro-text">
            world of culinary delights our grocery store freshness food.
        </p>
        <a href="#" class="btn">Shop Now</a>
    </div>
</section>
<!-- Shop by category section -->
<section class="shop-by-category-section">
    <div class="container">
        <div class="slider-top">
            <div class="text">
                <h2>Shop By Top Category</h2>
                <h3>Fresh,Organic & helathy grocery food etc.</h3>
            </div>
            <a href="#" class="btn">View All</a>
        </div>
        <div class="slider">
            <button class="slider-back btn">
                <img src="~/client/assets/icons/arrow_icon.svg" alt="" />
            </button>
            <div class="slide-container">
                <div class="slide-wrapper">
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                    <div class="slide">
                        <a href="#">
                            <div class="img-container">
                                <img src="~/client/assets/images/category/all_product.png"
                                     alt="" />
                            </div>
                            <span class="category-name">All Products</span>
                        </a>
                        <p class="product-count">15 items</p>
                    </div>
                </div>
            </div>
            <button class="slider-frwd btn">
                <img src="~/client/assets/icons/arrow_icon.svg" alt="" />
            </button>
        </div>
    </div>
</section>
<!-- Weeks highligths section -->
<section class="weeks-highligths-section">
    <div class="container">
        <div class="slider-top">
            <div class="text">
                <h2>This Weeks Highlight Products</h2>
                <h3>Fresh,Organic & helathy grocery food etc.</h3>
            </div>
        </div>
        <div class="slider">
            <button class="slider-back btn">
                <img src="~/client/assets/icons/arrow_icon.svg" alt="" />
            </button>
            <div class="slide-container">
                <div class="slide-wrapper">
                    <div class="slide">
                        <div class="top">
                            <div class="badges">
                                <div class="new-badge"></div>
                                <div class="out-of-stock-badge"></div>
                                <div class="save-badge" data-dollar="1.00"></div>
                            </div>
                            <a href="#">
                                <img src="~/client/assets/images/product/product-1.jpg"
                                     alt=""
                                     class="main-img" />
                                <img src="~/client/assets/images/product/product-2.png"
                                     alt=""
                                     class="hover-img" />
                            </a>
                            <div class="actions">
                                <a href="#" class="btn">Detailed Look</a>
                                <a href="#" class="btn">Add To Cart</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <h6>Vendor.Name</h6>
                            <a href="#">Product.Name</a>
                            <div class="price-wrapper">
                                <span class="selling-price">$5.00</span>
                                <span class="old-price">$6.00</span>
                            </div>
                            <div class="line"></div>
                            <h5>Weight</h5>
                            <div class="variations">
                                <label for="variation-500gm" class="variation active">500gm</label>
                                <input checked="checked"
                                       style="display: none"
                                       type="radio"
                                       id="variation-500gm"
                                       name="variation" />
                                <label for="variation-1kg" class="variation out">1kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-1kg"
                                       name="variation"
                                       disabled />
                                <label for="variation-2kg" class="variation">2kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-2kg"
                                       name="variation" />
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="top">
                            <div class="badges">
                                <div class="new-badge"></div>
                                <div class="out-of-stock-badge"></div>
                                <div class="save-badge" data-dollar="1.00"></div>
                            </div>
                            <a href="#">
                                <img src="~/client/assets/images/product/product-1.jpg"
                                     alt=""
                                     class="main-img" />
                                <img src="~/client/assets/images/product/product-2.png"
                                     alt=""
                                     class="hover-img" />
                            </a>
                            <div class="actions">
                                <a href="#" class="btn">Detailed Look</a>
                                <a href="#" class="btn">Add To Cart</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <h6>Vendor.Name</h6>
                            <a href="#">Product.Name</a>
                            <div class="price-wrapper">
                                <span class="selling-price">$5.00</span>
                                <span class="old-price">$6.00</span>
                            </div>
                            <div class="line"></div>
                            <h5>Weight</h5>
                            <div class="variations">
                                <label for="variation-500gm" class="variation active">500gm</label>
                                <input checked="checked"
                                       style="display: none"
                                       type="radio"
                                       id="variation-500gm"
                                       name="variation" />
                                <label for="variation-1kg" class="variation out">1kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-1kg"
                                       name="variation"
                                       disabled />
                                <label for="variation-2kg" class="variation">2kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-2kg"
                                       name="variation" />
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="top">
                            <div class="badges">
                                <div class="new-badge"></div>
                                <div class="out-of-stock-badge"></div>
                                <div class="save-badge" data-dollar="1.00"></div>
                            </div>
                            <a href="#">
                                <img src="~/client/assets/images/product/product-1.jpg"
                                     alt=""
                                     class="main-img" />
                                <img src="~/client/assets/images/product/product-2.png"
                                     alt=""
                                     class="hover-img" />
                            </a>
                            <div class="actions">
                                <a href="#" class="btn">Detailed Look</a>
                                <a href="#" class="btn">Add To Cart</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <h6>Vendor.Name</h6>
                            <a href="#">Product.Name</a>
                            <div class="price-wrapper">
                                <span class="selling-price">$5.00</span>
                                <span class="old-price">$6.00</span>
                            </div>
                            <div class="line"></div>
                            <h5>Weight</h5>
                            <div class="variations">
                                <label for="variation-500gm" class="variation active">500gm</label>
                                <input checked="checked"
                                       style="display: none"
                                       type="radio"
                                       id="variation-500gm"
                                       name="variation" />
                                <label for="variation-1kg" class="variation out">1kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-1kg"
                                       name="variation"
                                       disabled />
                                <label for="variation-2kg" class="variation">2kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-2kg"
                                       name="variation" />
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="top">
                            <div class="badges">
                                <div class="new-badge"></div>
                                <div class="out-of-stock-badge"></div>
                                <div class="save-badge" data-dollar="1.00"></div>
                            </div>
                            <a href="#">
                                <img src="~/client/assets/images/product/product-1.jpg"
                                     alt=""
                                     class="main-img" />
                                <img src="~/client/assets/images/product/product-2.png"
                                     alt=""
                                     class="hover-img" />
                            </a>
                            <div class="actions">
                                <a href="#" class="btn">Detailed Look</a>
                                <a href="#" class="btn">Add To Cart</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <h6>Vendor.Name</h6>
                            <a href="#">Product.Name</a>
                            <div class="price-wrapper">
                                <span class="selling-price">$5.00</span>
                                <span class="old-price">$6.00</span>
                            </div>
                            <div class="line"></div>
                            <h5>Weight</h5>
                            <div class="variations">
                                <label for="variation-500gm" class="variation active">500gm</label>
                                <input checked="checked"
                                       style="display: none"
                                       type="radio"
                                       id="variation-500gm"
                                       name="variation" />
                                <label for="variation-1kg" class="variation out">1kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-1kg"
                                       name="variation"
                                       disabled />
                                <label for="variation-2kg" class="variation">2kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-2kg"
                                       name="variation" />
                            </div>
                        </div>
                    </div>
                    <div class="slide">
                        <div class="top">
                            <div class="badges">
                                <div class="new-badge"></div>
                                <div class="out-of-stock-badge"></div>
                                <div class="save-badge" data-dollar="1.00"></div>
                            </div>
                            <a href="#">
                                <img src="~/client/assets/images/product/product-1.jpg"
                                     alt=""
                                     class="main-img" />
                                <img src="~/client/assets/images/product/product-2.png"
                                     alt=""
                                     class="hover-img" />
                            </a>
                            <div class="actions">
                                <a href="#" class="btn">Detailed Look</a>
                                <a href="#" class="btn">Add To Cart</a>
                            </div>
                        </div>
                        <div class="bottom">
                            <h6>Vendor.Name</h6>
                            <a href="#">Product.Name</a>
                            <div class="price-wrapper">
                                <span class="selling-price">$5.00</span>
                                <span class="old-price">$6.00</span>
                            </div>
                            <div class="line"></div>
                            <h5>Weight</h5>
                            <div class="variations">
                                <label for="variation-500gm" class="variation active">500gm</label>
                                <input checked="checked"
                                       style="display: none"
                                       type="radio"
                                       id="variation-500gm"
                                       name="variation" />
                                <label for="variation-1kg" class="variation out">1kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-1kg"
                                       name="variation"
                                       disabled />
                                <label for="variation-2kg" class="variation">2kg</label>
                                <input style="display: none"
                                       type="radio"
                                       id="variation-2kg"
                                       name="variation" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="slider-frwd btn">
                <img src="~/client/assets/icons/arrow_icon.svg" alt="" />
            </button>
        </div>
    </div>
</section>
<!-- Scrolling text section -->
<section class="scrolling-text-section">
    <div class="scroll">
        <div class="right-to-left">
            <!-- 10 -->
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>

            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
            <p>Mega Sale! Specials Up To 30% Off!</p>
            <p>Get 6% Instant Discount on All Products !</p>
        </div>
    </div>
</section>
<!-- Promo section -->
<section class="promo-section">
    <div class="container">
        <img src="~/client/assets/images/misc/bnr1.png" alt="" />
        <div class="text-container">
            <h2>Best Organic & Fresh Food <span>For Your Good Health</span></h2>
            <p>
                Immerse yourself in a holistic journey to wellness with our
                exquisite range of organic and fresh foods. Nourish your body with
                nature's bounty, cultivating a foundation for sustained vitality
                and optimal health. Your path to a healthier lifestyle begins with
                the purity and goodness we bring to your plate, ensuring a
                harmonious balance between taste and well-being.
            </p>
        </div>
    </div>
</section>
<!-- Small promos section -->
<section class="small-promos-section">
    <div class="container">
        <div class="wrapper">
            <img src="~/client/assets/images/misc/bnr2.png" alt="" />
            <h5>Daily Fresh & Healthy Food</h5>
            <h4>Sale 20%Off Fresh & Organic Vegetables</h4>
            <p>limited time: online only!</p>
            <a href="#">Shop now</a>
        </div>
        <div class="wrapper">
            <img src="~/client/assets/images/misc/b2.png" alt="" />
            <h5>Fresh Juice</h5>
            <h4>Sweetness Of Summer With Strawberry Juice</h4>
            <p>Quench your thirst with juice</p>
            <a href="#">Shop now</a>
        </div>
        <div class="wrapper">
            <img src="~/client/assets/images/misc/b3.png" alt="" />
            <h5>Organic Vegetables</h5>
            <h4>Premium Organic Vegetables For A Healthier Feast"</h4>
            <p>nutritional value packed</p>
            <a href="#">Shop now</a>
        </div>
    </div>
</section>
<!-- Delivery info section -->
<section class="delivery-info-section">
    <div class="container">
        <div class="wrapper">
            <div class="img-wrapper">
                <img src="~/client/assets/icons/shiping_icon.svg" alt="" />
            </div>
            <div class="text-wrapper">
                <h3>Free Shipping</h3>
                <p>Shipping Is A Great Way Spend More.</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="img-wrapper">
                <img src="~/client/assets/icons/money_guarantee_icon.svg"
                     alt="" />
            </div>
            <div class="text-wrapper">
                <h3>Money Guarantee</h3>
                <p>Financial Guarantee Is An Agreement.</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="img-wrapper">
                <img src="~/client/assets/icons/flexible_payment_icon.svg"
                     alt="" />
            </div>
            <div class="text-wrapper">
                <h3>Flexible Payment</h3>
                <p>Allows Consumers To Purchase A Product</p>
            </div>
        </div>
        <div class="wrapper">
            <div class="img-wrapper">
                <img src="~/client/assets/icons/support_icon.svg" alt="" />
            </div>
            <div class="text-wrapper">
                <h3>24/7 Support</h3>
                <p>Customer Service Support</p>
            </div>
        </div>
    </div>
</section>
<!-- Big promo section -->
<section class="big-promo-section">
    <div class="container">
        <img src="~/client/assets/images/misc/bnr3.png" alt="" />
        <h3>Organic Fruits & Vegetables</h3>
        <h2>
            Don't Miss Amazing Fresh & Healthy Organic Grocery Food Deals!
        </h2>
        <p>Organic Fresh Food very heart of the modern food..</p>
        <a href="#" class="btn">Shop Now</a>
    </div>
</section>
<!-- Vendor section -->
<section class="vendor-section">
    <div class="container">
        <div class="slider">
            <div class="slide-container">
                <div class="slide-wrapper">
                    <img class="slide"
                         src="~/client/assets/images/vendor/1_c3392416-576e-4c5c-b826-b6e143bb513d.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/2_1c4b30d7-c150-41db-8703-2e4d065c8cbe.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/3_8b98564b-198e-4ecf-9a56-c23986826fbf.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/4_53a90bfe-4c85-479d-937d-a4120a22ee1b.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/1_c3392416-576e-4c5c-b826-b6e143bb513d.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/2_1c4b30d7-c150-41db-8703-2e4d065c8cbe.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/3_8b98564b-198e-4ecf-9a56-c23986826fbf.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/4_53a90bfe-4c85-479d-937d-a4120a22ee1b.png"
                         alt="" />
                    <img class="slide"
                         src="~/client/assets/images/vendor/1_c3392416-576e-4c5c-b826-b6e143bb513d.png"
                         alt="" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/client/assets/js/index.min.js"></script>
}