main .login-section h1 {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
}

main .login-section h3 {
  font-size: 20px;
  font-weight: 400;
}

.login-section .login-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.login-section .login-wrapper .btn {
  display: block;
  width: 120px;
  text-align: center;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: #000;
}

.login-section .login-wrapper .btn::before {
  background-color: #184434;
}

.login-section .login-wrapper > div {
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 32px;
}

.login-section .login-wrapper .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-section .login-wrapper .left-side form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.login-section .login-wrapper .left-side form input {
  width: 80%;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #afafaf;
  border-radius: 8px;
}

.login-section .login-wrapper .right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-section .login-wrapper .right-side p {
  font-size: 16px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .login-section .login-wrapper {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 425px) {
  main {
    padding-bottom: 550px ;
  }
}
