@{
    ViewData["Title"] = "Update Weight";
}
@model UpdateWeightVM

<form asp-controller="weight" asp-action="update" asp-area="admin" method="post">
    <input asp-for="Id" style="display:none" />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" id="name">
        <span style="color:red" asp-validation-for="Name"></span>
    </div>
    <div asp-validation-summary="ModelOnly" style="color:red"></div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="index" asp-controller="weight" asp-area="admin" class="btn btn-secondary mx-2">Back to list</a>
</form>
