@model List<Category>

<ul>
    @foreach (var category in Model)
    {
        <li>
            <a asp-action="index" asp-controller="product" asp-route-category="@category.Name">@category.Name</a>
        </li>
    }
</ul>